* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  font-family: 'Poppins';
}

img {
  width: 70%;
  visibility: hidden;
  position: absolute;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: clip-path .5s;
}

.container {
  display: flex;
  margin: 5em 0 5em 5em;
  position: relative;
}

section {
  width: 800px;
  position: absolute;
  right: 10em;
}

nav {
  margin-right: 4em;
  position: fixed;
  width: 800px;
  text-align: left;
}

ul {
  list-style-type: none;
  width: 10em;
}

ul li {
  font-size: 2em;
  text-transform: uppercase;
  padding: .8em 0 .8em .8em;
  cursor: pointer;
  border-radius: 76% 24% 41% 59% / 56% 80% 20% 44%;
  position: relative;
  transition: border-radius 1s;
}

li::before {
  content: '';
  position: absolute;
  width: 0;
  border-bottom: 2px solid black;
  top: 1.45em;
  transition: width 1s;
}

li:hover {
  border: 1px solid gray;
  border-radius: 30% 70% 73% 27% / 30% 30% 70% 70%;
}

li:hover::before {
  width: 80%;
}

.intro {
  visibility: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}